body {
	margin: 0;
	podding: 0;
	background: url(apple-background-.jpg);
	background-size: cover;
    font-family: 'Karla',  sans-serif;
    overflow-x: hidden;
}
    background-url(apple-background.jpg)
    background-size: cover;
header {
    text-align: center;
    background: none;
    color: #0cc1c7;
}

header .intromsg {
    padding-top: 30px;
    padding-bottom: 20px;
}

header img {
    display: block;
    margin: 0 auto 20px;
    max-width: 40%; left: 30%;
    margin-top: 6%;
}

header .repo {
    display: block;
    padding-top:10px;
    font-family: "Fredoka One", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

@media (min-width: 768px) {
    header img {
        max-width: 30%; left: 35%;
        margin-top: 6%;
    }
    header .intromsg {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    header .repo {
    	color:#40120a;
        padding-top:20px;
        font-size: 4.2em;
    }

    header .donation {
        padding-top: 0px;
        font-size: 1em;
    }
}

header .donation {
	color:#40120a;
    display: block;
    padding-top:0px;
    font-family: "Karla", sans-serif;
    text-transform: none;
    font-size: 2.2em;
}


header .btn{
    padding-top:10px;
}

.btn-outline {
    color:#96110c;
    font-size: 2.6em;
    border: solid 1.5px #cf8308;
    background: transparent; 
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: white;
    background:#cf8308;
    border: solid 1.5px white;
}


footer{
    padding-top: 50px;
    background-color: none;
    height:80px;
}
footer .footer-above {
    padding-top: 30px;
    background-color: none;
}
.btn-social {
    display: inline-block;
    padding-top:2px;
    height: 50px;
    width: 50px;
    border: 1.5px solid #a3c1d5;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
